<footer class="bg-body-tertiary">
  <div class="text-center p-3">
    <span>&copy; 2023. {{ 'footer.copyrights'|trans }}</span>
    <span>{{ 'footer.designed'|trans }}</span>
    <span><a href="https://www.linkedin.com/in/michaelballester/">@mikebg_dev</a></span>
  </div>
</footer>
