<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h6>{{ 'hero.h6'|trans }}</h6>
        <h1>Michael Ballester Granero</h1>
        <h2>{{ 'hero.h2'|trans }} <span class="typed" data-typed-items="{{ 'hero.h2.items'|trans }}"></span></h2>
    </div>
</section>