<section id="about" class="about py-5">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-4">
        <img src="/build/images/profile.jpeg" width="600px" height="600px" class="img-fluid rounded-circle mb-4" alt="Michael Ballester Granero">
      </div>

      <div class="col-md-8">
        <h2 class="text-body-emphasis mb-4">{{ 'about.h2'|trans }}</h2>

        <p class="lead mb-4">
          Soy un Desarrollador de Software con experiencia en desarrollo web, especializado tanto en Backend como
          Frontend. Con una sólida experiencia en Symfony, PHP y MySQL, he entregado con éxito varios proyectos web, que
          van desde páginas web estáticas hasta aplicaciones complejas que consumen API.
        </p>

        <p class="mb-4">
          Durante mi carrera, también adquirí experiencia en el desarrollo de aplicaciones móviles Android y trabajé en
          un sistema ERP usando Delphi.
        </p>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled mb-4">
              <li><strong>Nombre: </strong>Michael</li>
              <li><strong>Edad: </strong>29 años</li>
              <li><strong>Correo electrónico: </strong>mike@mikebgdev.com</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-unstyled mb-4">
              <li><strong>Ubicación: </strong>Anna, Valencia</li>
              <li><strong>Nacionalidad: </strong>Española</li>
              <li><strong>Estudios: </strong>Desarrollo de aplicaciones multiplataforma y web</li>
            </ul>
          </div>
        </div>

        <p class="mb-4">
          Me apasiona el aprendizaje y el crecimiento continuo, y disfruto estar actualizado con las últimas tendencias
          y tecnologías de programación. Siempre estoy buscando nuevas oportunidades para ampliar mis conocimientos y
          mejorar mis habilidades.
        </p>

        <p class="mb-4">
          Si tiene alguna pregunta o desea saber más sobre mi trabajo, no dude en comunicarse conmigo. ¡Conectémonos y
          exploremos las posibilidades de colaborar juntos!
        </p>

        <a href="#contact" class="btn btn-primary btn-lg">{{ 'about.contact'|trans }}</a>
      </div>
    </div>
  </div>
</section>
