<section id="about" class="about">
    <div class="container my-5">
        <div class="p-5 bg-body-tertiary rounded-3">
            <h2 class="text-body-emphasis">{{ 'about.h2'|trans }}</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>


            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{{ asset('build/images/profile-img-600x600.jpg') }}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Web Developer.</h3>
                    <p class="col-lg-12 mx-auto fs-5">
                        Soy un desarrollador Full Stack especializado en tecnologías web y móviles, con más de 5
                        años de experiencia en el desarrollo de aplicaciones de alta calidad.
                    </p>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> 28</li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Correo electrónico:</strong>
                                    email@example.com
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> +1 234 567890
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> New York, USA
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Estudios:</strong> Licenciado en
                                    Ingeniería Informática
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Experiencia:</strong> Más de 5
                                    años
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> Disponible
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Nacionalidad:</strong> Americano
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Soy un apasionado de la tecnología y me encanta estar al tanto de las últimas tendencias
                        y
                        novedades en el mundo del desarrollo web y móvil. Me gusta trabajar en equipo y siempre
                        estoy dispuesto a aprender y mejorar mis habilidades.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="about" class="about bg-body-tertiary py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="/build/images/profile-img-600x600.jpg" class="img-fluid rounded-circle mb-4" alt="">
                <h3>Web Developer</h3>
                <p class="text-muted">Más de 5 años de experiencia</p>
                <div class="d-flex justify-content-center">
                    <div class="social-icons">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2 class="text-body-emphasis mb-3">Acerca de mí</h2>
                <p class="lead mb-4">Soy un desarrollador Full Stack especializado en tecnologías web y móviles, con más de 5 años de experiencia en el desarrollo de aplicaciones de alta calidad.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-person"></i> Datos personales</h5>
                                <hr>
                                <ul class="list-unstyled mb-0">
                                    <li><strong>Edad:</strong> 28</li>
                                    <li><strong>Correo electrónico:</strong> email@example.com</li>
                                    <li><strong>Teléfono:</strong> +1 234 567890</li>
                                    <li><strong>Ciudad:</strong> New York, USA</li>
                                    <li><strong>Nacionalidad:</strong> Americano</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-award"></i> Experiencia y habilidades</h5>
                                <hr>
                                <ul class="list-unstyled mb-0">
                                    <li><strong>Estudios:</strong> Licenciado en Ingeniería Informática</li>
                                    <li><strong>Experiencia:</strong> Más de 5 años</li>
                                    <li><strong>Freelance:</strong> Disponible</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Soy un apasionado de la tecnología y me encanta estar al tanto de las últimas tendencias y novedades en el mundo del desarrollo web y móvil. Me gusta trabajar en equipo y siempre estoy dispuesto a aprender y mejorar mis habilidades.</p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/build/images/profile-img-600x600.jpg" class="img-fluid rounded-circle mb-4" alt="">
            </div>
            <div class="col-md-8">
                <h2 class="text-primary mb-4">Sobre mí</h2>
                <p class="lead mb-4">
                    Soy un apasionado desarrollador web Full Stack con más de 5 años de experiencia en la creación de aplicaciones web y móviles de alta calidad. Mi especialidad es la programación PHP y JavaScript, aunque también tengo conocimientos en otras tecnologías como HTML, CSS y SQL.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled mb-4">
                            <li><strong>Nombre:</strong> Mike</li>
                            <li><strong>Edad:</strong> 28 años</li>
                            <li><strong>Correo electrónico:</strong> mike@mikebgdev.com</li>
                            <li><strong>Teléfono:</strong> +1 234 567890</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled mb-4">
                            <li><strong>Ubicación:</strong> Nueva York, EE. UU.</li>
                            <li><strong>Nacionalidad:</strong> Estadounidense</li>
                            <li><strong>Estudios:</strong> Licenciado en Ingeniería Informática</li>
                            <li><strong>Disponibilidad:</strong> Freelance</li>
                        </ul>
                    </div>
                </div>
                <p class="mb-4">
                    Me encanta estar al día en las últimas tendencias y novedades en el mundo del desarrollo web y móvil, y disfruto trabajando en equipo para crear soluciones innovadoras y eficientes. Si tienes un proyecto que requiere de habilidades en desarrollo web y móvil, no dudes en contactarme para discutir cómo puedo ayudarte a llevarlo a cabo.
                </p>
                <a href="#contact" class="btn btn-primary btn-lg">Contáctame</a>
            </div>
        </div>
    </div>
</section>


<section id="about" class="about">
    <div class="container my-5">
        <div class="p-5 bg-body-tertiary rounded-3">
            <h2 class="text-body-emphasis">Acerca de mi</h2>
            <p class="fs-5">
                Hola, soy Mike, un desarrollador web y móvil con más de 5 años de experiencia en la industria. Me especializo en tecnologías modernas y herramientas de desarrollo que me permiten crear aplicaciones y sitios web de alta calidad que se adaptan a las necesidades de mis clientes. Soy un apasionado de la tecnología y siempre estoy al tanto de las últimas tendencias y novedades en el mundo del desarrollo web y móvil.
            </p>
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3 class="text-body-emphasis mb-3">Experiencia</h3>
                    <p class="fs-5">
                        Me he desempeñado como desarrollador full-stack en diversas empresas de tecnología, trabajando en proyectos para clientes de diferentes industrias, incluyendo educación, salud, finanzas, comercio electrónico y más. Durante mi carrera he adquirido habilidades en las siguientes tecnologías:
                    </p>
                    <ul class="list-unstyled fs-5">
                        <li><i class="bi bi-chevron-right"></i> HTML5, CSS3, JavaScript</li>
                        <li><i class="bi bi-chevron-right"></i> React, Angular, Vue</li>
                        <li><i class="bi bi-chevron-right"></i> PHP, Node.js, Python</li>
                        <li><i class="bi bi-chevron-right"></i> MySQL, MongoDB, Firebase</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="text-body-emphasis mb-3">Educación</h3>
                    <p class="fs-5">
                        Soy licenciado en Ingeniería Informática, graduado de una universidad reconocida en mi país. Además, he participado en varios cursos y programas de capacitación en línea para mantenerme actualizado y adquirir nuevas habilidades. Algunos de estos cursos incluyen:
                    </p>
                    <ul class="list-unstyled fs-5">
                        <li><i class="bi bi-chevron-right"></i> Curso de React Avanzado en Platzi</li>
                        <li><i class="bi bi-chevron-right"></i> Programa de Certificación en Desarrollo de Aplicaciones Web de Harvard Extension School</li>
                        <li><i class="bi bi-chevron-right"></i> Curso de Certificación en Desarrollo de Aplicaciones Móviles de Google</li>
                        <li><i class="bi bi-chevron-right"></i> Curso de Certificación en Desarrollo de Aplicaciones en la Nube de AWS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="container my-5">
        <div class="p-5 bg-body-tertiary rounded-3">
            <h2 class="text-body-emphasis">Sobre mí</h2>
            <p>¡Hola! Soy Mike, un desarrollador apasionado por la tecnología, pero también por la música y la literatura. Me encanta pasar mi tiempo libre leyendo un buen libro o tocando la guitarra. Soy una persona amable y social, siempre dispuesto a ayudar y aprender de los demás.</p>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="/build/images/profile-img-600x600.jpg" class="img-fluid rounded-circle mb-4" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Desarrollador web y móvil.</h3>
                    <p class="col-lg-12 mx-auto fs-5">Me especializo en crear aplicaciones web y móviles de alta calidad. Mi objetivo es siempre crear productos que sean intuitivos, atractivos y fáciles de usar. Soy un profesional responsable y comprometido con mi trabajo.</p>

                    <p>También me encanta viajar y conocer nuevos lugares y culturas. Creo que es importante mantener una mente abierta y siempre estar dispuesto a aprender y crecer como persona. Siempre estoy buscando nuevos retos y oportunidades para mejorar mis habilidades y conocimientos.</p>
                </div>
            </div>

        </div>
    </div>
</section>
