<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <div>{{ 'hero.h6'|trans }}</div>
    <h1>Michael Ballester Granero</h1>
    <h2><span class="typed" data-typed-items="{{ 'hero.h2.items'|trans }}"></span></h2>
  </div>
</section>
