<section id="skills" class="skills bg-body-secondary">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">Hard Skills</h2>

      <div class="row row-cols-3 row-cols-md-5 row-cols-lg-6 g-4 py-5 fa-big-skills">

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#symfony"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#php"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mysql"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mongodb"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#nginx"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#apache"></use>
          </svg>
        </div>


        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#html"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#css"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#javascript"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jquery"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#angular"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#docker"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jenkins"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#npm"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#yarn"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#cloudflare"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jira"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#postman"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#python"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#fastapi"></use>
          </svg>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="skills_soft" class="skills_soft">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5" id="soft-skills">
      <h2 class="text-body-emphasis">Soft Skills</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#teamwork"></use>
              </svg>
              Teamwork & Collaboration
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#adaptability"></use>
              </svg>
              Adaptability & Continuous Learning
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#organization"></use>
              </svg>
              Organization & Responsibility
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#focus"></use>
              </svg>
              Quality Focus & Continuous Improvement
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#decision"></use>
              </svg>
              Decision making
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#problems"></use>
              </svg>
              Problem-Solving
            </h3>
          </div>
        </div>

        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fw-bold mb-0 fs-4">
              <svg width="32" height="32">
                <use xlink:href="#results"></use>
              </svg>
              Orientation to results
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
