<section id="skills" class="skills bg-body-secondary">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">{{ 'skills.h2'|trans }}</h2>

      <div class="row row-cols-3 row-cols-md-5 row-cols-lg-6 g-4 py-5">

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#symfony"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#php"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mysql"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mongodb"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#nginx"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#apache"></use>
          </svg>
        </div>


        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#html"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#css"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#scss"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#javascript"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jquery"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#angular"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#docker"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jenkins"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#drone"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#npm"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#yarn"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#cloudflare"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jira"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#postman"></use>
          </svg>
        </div>

        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#python"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#fastapi"></use>
          </svg>
        </div>

      </div>
    </div>
  </div>
</section>
