<section id="skills_soft" class="skills_soft">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5" id="soft-skills">
      <h2 class="text-body-emphasis">{{ 'skills.soft.h2'|trans }}</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {% set softSkills = [
          {'icon': 'teamwork', 'label': 'skills.soft.teamwork'},
          {'icon': 'adaptability', 'label': 'skills.soft.adaptability'},
          {'icon': 'organization', 'label': 'skills.soft.organization'},
          {'icon': 'focus', 'label': 'skills.soft.focus'},
          {'icon': 'decision', 'label': 'skills.soft.decision'},
          {'icon': 'problems', 'label': 'skills.soft.problems'},
          {'icon': 'results', 'label': 'skills.soft.results'},
        ] %}

        {% for skill in softSkills %}
          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fw-bold mb-0 fs-4">
                <svg width="32" height="32">
                  <use xlink:href="#{{ skill.icon }}"></use>
                </svg>
                {{ skill.label|trans }}
              </h3>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
