<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-bs-theme="dark">
<head>

  {% include 'includes/metas.html.twig' %}

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>

  {% include 'includes/header.html.twig' %}

  {% include 'includes/hero.html.twig' %}

  <main id="main">
    {% block main %}

      {% include 'sections/about.html.twig' %}

      {% include 'sections/skills.html.twig' %}

      {% include 'sections/portfolio.html.twig' %}

      {% include 'sections/contact.html.twig' %}

    {% endblock %}
  </main>

  {% include 'includes/footer.html.twig' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="fa-solid fa-arrow-up"></i></a>

</body>
</html>
